.lesson-intro {
    font-size: 18px !important;
    margin-top: 8px;
    margin-bottom: 10px;
}

.linedwrap .lines {
    width: 15px !important;
}



.lineno {
    font-family: "Courier New";
    font-size: 11pt !important;
    font-weight: bold;
    color: rgba(0,0,0,0) !important;
}


body {
  font: 12px/1.2 Verdana, Arial, Helvetica, sans-serif;
  background:#ffc;
  padding:0px;
  margin:0px;
  background-color:#AABBCC;
  padding: 6px;
}

.hidden {
  display: none !important;
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#ff0;
}
a.bottom {
  color:black;
}

pre {
  font-size:11px;
  color:blue;
}

.greek {
  color:#999;
}

ol {
  margin-right:40px;
}

li {
  margin-bottom:10px;
}

#topload {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color:  rgba(241, 209, 209, 0.8);
}

#topload .middle {
  font-size: 36px;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 25%;
}


#topcontent {
  margin:0px;
  border:0px;
  padding:0px;
  border-bottom:4px solid #000;
}

#logo {
  vertical-align:middle;
  position:relative;
  top:8px;
}

.title {
  font-size:14pt;
  font-weight:bold;
  color:#000;
}

#navbar {
  margin-left:27px;
  position:relative;
  top:-9px;
}

#middlecontent {
  overflow:hidden;
}

.equiwidth {
  width: 230px;
}

#leftcontent {
  width: 500px;
  border-top:0px solid #000;
  border-right:4px solid #000;
  border-bottom:0px solid #000; 
  margin-left:0px;
  padding-left:5px;
  margin-right:0px;
  padding-right:5px;
  margin-bottom:0px;
  padding-bottom:5px;
  margin-top:0px;
  padding-top:5px;
  float:left;
}

#rightcontent {
  min-width: 400px;
  background:#366;
  color: white;
  border-top:0px solid #000;
  border-left:0px solid #000;
  border-bottom:0px solid #000;
  margin-left:10px;
  padding-left:10px;
  margin-bottom:20px;
  padding-bottom:2px;
  margin-top:10px;
  padding-top:10px;
  margin-right:10px;
  padding-right:10px;
  float:left;
}

#info {
  position:relative;
  left:10px;
}

#world {
  background-color:#fff;
}

#authorname {
  background-color: orange;
}
#authorname.populated {
  background-color: white;
}


#status,
#location,
#direction,
#numBeepersInWorld,
#numBeepersInKarelsBag {
  font-weight:bold;
}

#log_block {
  margin-top:30px;
}

#manual_actions_heading,
#immediate_heading,
#info_block_heading,
#log_block_heading {
  margin-top:14px;
  margin-bottom:0px;
  font-weight:bold;
}

#program_heading{
  float: left;
  margin-top:0px;
  margin-bottom:0px;
  font-weight:bold;  
}




#run_program_link,
#run_immediate_link,
#clear_log_link {
    float:right;
}

#program_heading_1 {
    margin-bottom:4px;
}

#program_heading_2 {
}

#program_heading_3 {
}

#program_sizing {
  margin-bottom:40px;
}

    #program_sizing_buttons {
      float:right;
    }
        #btnNarrow {
		    position:relative;
			top:-15px;
			left:23px;
	    }
	    #btnWiden {
		    position:relative;
			top:-15px;
			left:21px;
	    }
	    #btnShorten {
		    position:relative;
			top:-23px;
			left:4px;
	    }
	    #btnLengthen {
		    position:relative;
			top:-8px;
			left:-8px;
	    }
          
      
.lesson-notes {
  float: left;
  margin-left: 10px;
}

.bitly {
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold;
}


#grammars_area {
}

    #grammars_label {
	    display:inline-block;
	    width:69px;
	}

    #commands_label {
	    display:inline-block;
	    width:69px;
	}

#f_loadworld {
  padding-bottom: 5px;
}

#f_pgm {
    margin-top:10px;
}


a.button-a {
  margin-top: 2px;
  border: 1px solid grey;
  padding: 1px 6px 1px 6px;
  display: inline-block;
  border-radius: 5px;
  color: darkcyan;
  background-color: white;
  font-weight: normal;
}
#immediate_actions a:active {
  background-color: orange;
}

  
#log {
  height:100px;
  width:100%;
  overflow:scroll;
  color: black;
  background-color:#fff;
  margin-top:10px;
  margin-bottom:10px;
}

.CodeMirror.cm-s-default {
  width: 490px;
  height: 400px;
  font-size: 13px;
}

#bottomcontent {
  border-top:4px solid #000;
  height:50px;
}

h1 {
  font-size:14px;
  padding-top:10px;
}

#rightcontent p {
  font-size:10px;
  margin-left:0px;
}

.breakpoints {
  width: 11px;
}

.break {
  clear:both;
}

.row {
  overflow:hidden;
}

.cell {
  width:21px;
  height:21px;
  margin:0px;
  padding:0px;
  border: 0px solid #f30;
  float:left;
  text-align:center;
}

/* --- implementation_notes --- */

#about,
#reference,
#projects,
#implementation_notes {
  padding:20px;
}

#about_heading,
#reference_heading,
#projects_heading,
#implementation_notes_heading {
  font-weight:bold;
  font-size:14pt;
  border-bottom:4px solid #000;
}

#about_mininav,
#reference_mininav,
#projects_mininav,
#implementation_notes_mininav {
  margin-bottom:30px;
}

#about_content,
#reference_content,
#projects_content,
#implementation_notes_content {
}

#about_content,
#reference_content,
#projects_content {
  width:85%;
}

.reference_subheading,
.projects_subheading {
  font-weight:bold;
  font-size:12pt;
  margin-top:30px;
}

#reference_content dt,
#projects_content dt {
  font-weight:bold;
}

.error_message {
  font-weight:bold;
  color:red;
}

dt {
  margin-top:20px;
  margin-bottom:5px;
}

dl {
}

#icon_bar {
  background:#ccc;
  overflow:hidden;
}

    #icon_bar .icon {
	}

#design_icons {
}

#import_export_icons {
  margin-left:20px;
}

.locked {
  background-color: #c5c5c5 !important;
}

#syntaxerror {
  z-index:2;
  position:relative;
  left:55px;
}

#currentline {
  z-index:2;
  position:relative;
  left: 12px;
}

#pgm, #immed {
  font-family:"Courier New";
  font-size: 11pt;
  font-weight: bold;
}

.karel {
  z-index:3;
}

.karelWithOneBeeper {
  z-index:3;
}

.karelWithMultipleBeepers {
  z-index:3;
}

.counterSingleWithKarel, .counterMultipleWithKarel, .counterMultipleWithoutKarel {
  z-index:2;
  position:relative;
  top:-25px;
  left:10px;
  color: blue;
  font-weight: bold;
}

